body{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}
canvas {
  background: #000000;
  background: linear-gradient(#505050, #000000);
  border: 2px solid white;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin: 0px;
}

p {
  font-size: 20px;
  font-weight: 700;
  margin-left: 0px;
}

.controls {
  width: 250px;
  height: 400px;
  background: rgba(35, 35, 35, 0.8);
  border-radius: 20px;
  padding: 20px;
}

.information {
  width: 250px;
  height: 150px;
  background: rgba(35, 35, 35, 0.8);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.swang-links {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

a { color: white }
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }
