body{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("../images/background.jpg");
  /* background-image: url("../images/rrDr_Mario_White_background_shop_preview.jpg"); */
}
canvas {
  background: #000000;
  /* background-image: url("../images/background.jpg"); */
  /* background-image: url("../images/rrDr_Mario_White_background_shop_preview.jpg"); */
  border: 1px solid black;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin: 0px;
}

.controls {
  width: 250px;
  height: 350px;
  background: rgba(154, 106, 225, 0.7);
  border-radius: 20px;
  padding: 20px;
}

.information {
  width: 250px;
  height: 150px;
  background: rgba(154, 106, 225, 0.7);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
